/* 全局样式表 */

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}
.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}
.el-card {
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
		height: 594px!important;
}
.el-table {
		margin-top: 15px;
		font-size: 13px;
}
/* 解决table表头和表身错位问题 */
.el-table--border th.gutter:last-of-type {
	display: block!important;
}
/* 改变输入框反馈图标颜色 */
.el-icon-circle-check:before {
	color: #67C23A;
}
.el-pagination {
	margin-top: 15px;
}
.el-cascader-menu__list {
	height: 300px;
}
.el-step__title {
font-size: 13px;
}
/* 富文本编辑器的内容区高度 */
.ql-editor {
 height: 320px!important;
}
.el-scrollbar__wrap {
	overflow-x: hidden;
}
